@*@model WebAtividadeEntrevista.Models.BeneficiarioModel*@

<div class="modal fade" id="modalBeneficiario" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Beneficiário</h4>
            </div>
            <div class="modal-body">
                <form id="addBeneficiario">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CPFBeneficiario">CPF:</label>
                                <input required="required" type="text" class="form-control" id="CPFBeneficiario" name="CPFBeneficiario" placeholder="Ex.: 000.011.111-00" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="NomeBeneficiario">Nome:</label>
                                <input required="required" type="text" class="form-control" id="NomeBeneficiario" name="NomeBeneficiario" placeholder="Ex.: Maria" maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-4" style="display: flex; align-items: center; margin-top: 25px;">
                            <button type="button" class="btn btn-sm btn-success" id="incluirBeneficiario">Incluir</button>
                        </div>
                    </div>
                </form>
                <hr />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th class="text-end">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.Id">
                                <td>@item.Cpf</td>
                                <td>@item.Nome</td>
                                <td class="text-end">
                                    <button class="btn btn-sm btn-primary btn-editar" data-id="@item.Id">Alterar</button>
                                    <button class="btn btn-sm btn-danger btn-excluir" data-id="@item.Id">Excluir</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>